.merchant-site-wrapper {
    background-color: #ececec;
    padding-top: 6px;
    padding-bottom: 10px;
    margin-top: 20px;
    border-radius: 12px !important;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

ul.floa-scheduler-details {
    list-style-type: none;

    li {
        /* You need to turn on relative positioning so the line is placed relative to the item rather than absolutely on the page */
        position: relative;

        /* Use padding to space things out rather than margins as the line would get broken up otherwise */
        margin: 0;
        padding-bottom: 1em;
        padding-left: 20px;
        & > div {
            display: flex;
            justify-content: space-between;
        }
        .bullet {
            width: 20px;
            height: 20px;
            background-color: #dcdcdc;
            border-radius: 50%;
            margin-left: -24px;
            float: left;
            padding-right: 10px;
        }

        &:nth-child(1):before {
            background-color: #57a0f8;
            width: 5px;
            content: "";
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 3px;
        }

        &:nth-child(n + 2):before {
            background-color: #dcdcdc;
            width: 5px;
            content: "";
            position: absolute;
            top: -3px;
            bottom: 0px;
            left: 3px;
        }

        &:last-child:before {
            height: 6px;
        }

        &:first-child .bullet {
            background-color: #57a0f8;
        }

        & > div:last-child {
            font-weight: bold;
            & > div:last-child {
                padding-right: 2rem;
            }
            & > div:first-child {
                padding-right: 1.5rem;
            }
        }
    }
}

.floa-payment-total {
    background-color: white;
    border-radius: 12px !important;
    margin: 1rem !important;
    font-weight: bold;
    & > div {
        display: flex;
        justify-content: space-between !important;
    }
    & > div:first-child {
        padding: 1.5rem 1rem;
        & > span:last-child {
            font-size: 1.75rem;
        }
    }
    & > div:last-child {
        padding-right: 1rem;
        padding-left: 1rem;
        padding-bottom: 1.5rem;
        color: #57a0f8;
    }
}

.floa-payment-scheduler {
    margin-top: 3rem !important;
}

[id^="JSCharting_"] {
    display: flex;
    justify-content: center;
}
